/node_modules
.env
/src/generated/prisma
/prisma/schema.prisma
/prisma/migrations
/prisma/seed.js
/prisma/desafio_seed.js
/prisma/ecobarrio_seed.js
/prisma/problema_seed.js
/prisma/solucion_seed.js
/prisma/data.csv